header.page-header
    .page-header__wrapper
        .page-header__container
            .logo
                a.logo__link(href='https://selectel.ru/', target='_blank')
                    img.logo__img(src='src/img/icon-logo.svg', alt='logo')
            .phone
                a.phone__link(href='tel: +7 (800) 555-06-75', target='_blank')
                    span.phone__num +7 (800) 555-06-75