@import "mixin.styl"
@import "scaffoldings.styl"
@import "variables.styl"
@import "../header/btn.styl"
@import "../header/page-header.styl"
@import "../header/logo.styl"
@import "../header/phone.styl"
@import "../slider/slider.styl"
@import "../mobile-buttons/nav-btn.styl"
@import "../configs/config.styl"
@import "../footer/page-footer.styl"
@import "../footer/social.styl"
