.btn
  display inline-block
  padding 16px 40px
  border-radius 4px
  background-color $btn-color
  text-decoration none
  font-family 'Montserrat','Tahoma', sans-serif
  transition hover
  color white
  cursor pointer
  &:hover
    background-color: $btn-color-hover