.config
  display flex
  flex-grow 1
  padding 120px 0

  &__wrapper
    width 100%
    margin 0
    padding 0 16px

  &__title
    text-align center
    margin 0 0 40px
    font-family Montserrat
    font-size 40px
    font-weight 600
    line-height 48px
    color rgba(0, 0, 0, 0.8)

  &__preloader--invisible
    display none

  &__table
    padding-top 48px
    display flex
    flex-direction column
    font-family Roboto
    font-style normal
    font-weight normal
    line-height normal

  &__row
    display flex
    flex-direction column
    border 2px solid rgba(0, 0, 0, 0.8)
    border-radius 8px
    margin-bottom 24px
    padding 24px
    /*@media (min-width: $tablet-width)
      flex-direction row
      justify-content space-between
      align-items center*/

  &__cpu,
  &__hdd,
  &__ram,
  &__price
    min-width 120px
    font-size 18px
    margin-bottom 16px

    &::before
      content attr(data-head)
      display flex
      opacity 0.8
      font-size 16px
      margin-bottom 3px

@media (min-width: $tablet-width)
  .config
      &__row
        flex-direction row
        justify-content space-between
        align-items center

      &__row:first-child > div
        position relative

        &::before
          content attr(data-head)
          display block
          position absolute
          top -80px
          left 0
          opacity 0.8

      &__cpu,
      &__hdd,
      &__ram,
      &__price
        &::before
          display none


