.nav-btn
  display flex
.prev
  background url("../img/icon-arrow-prev.svg") no-repeat
.next
  background url("../img/icon-arrow-next.svg") no-repeat

 @media (min-width: $tablet-width)
   .nav-btn
      display none