.page-footer
  padding: 40px 0;
  background-color $footer-color

  &__wrapper
    margin 0
    padding 0 16px

  &__container
    display flex
    flex-wrap wrap
    justify-content center

  &__logo
    margin: 0 auto 32px;