.social
  margin: 0 auto;

  &__list
    list-style none
    padding 0
    margin 0
    display flex
    justify-content center
    align-items center

  &__item
    width 30px
    height 30px
    margin-right 20px
    transition opacity 0.3s ease
    &:nth-child(2)
      margin-right 4px
    &:last-child
      margin-right 0
    &:hover
      opacity 0.6



