doctype html
html(lang='en')
    head
        meta(charset = 'utf-8')
        meta(http-equiv='x-ua-compatible', content='ie=edge')
        meta(name='viewport', content="initial-scale=1.0, width=device-width")
        meta(name='description', content="Тестовое задание Selectel")
        //meta(http-equiv="Content-Security-Policy", content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *")
        title Тестовое задание Selectel
        link(href='img/favicon.png', rel='icon')
        link(href='https://fonts.googleapis.com/css?family=Montserrat:400,400i,600,600i%7CRoboto:400,400i,700,700i&amp;subset=cyrillic', rel='stylesheet')
        link(rel='stylesheet', href='src/css/style.css')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css')

    body
        include header/header.pug
        include slider/slider.pug
        include mobile-buttons/mobile-buttons.pug
        include configs/configs.pug
        include footer/footer.pug

        script(src='src/slider/slider.js')
        script(src='src/configs/server-config.js')