footer.page-footer
    .page-footer__wrapper
        .page-footer__container
            .page-footer__logo.logo
                a.logo__link(href='https://selectel.ru/ ', target='_blank')
                    img.logo__img(src='src/img/icon-logo.svg', alt='logo')
            .social
                ul.social__list
                    li.social__item
                        a.social__link(href='https://vk.com/selectel', target='_blank')
                            img(src='src/img/icon-vk.svg' alt='vk')
                    li.social__item
                        a.social__link(href='https://www.facebook.com/selectel/', target='_blank')
                            img(src='src/img/icon-fb.svg' alt='fb')
                    li.social__item
                        a.social__link(href='https://twitter.com/selectel', target='_blank')
                            img(src='src/img/icon-twitter.svg' alt='twitter')
                    li.social__item
                        a.social__link(href='https://habrahabr.ru/company/selectel/', target='_blank')
                            img(src='src/img/icon-habr.svg' alt='habr')
                    li.social__item
                        a.social__link(href='https://www.youtube.com/channel/UCVU0Ml1l_Y90wmy5EjWTSng', target='_blank')
                            img(src='src/img/icon-youtube.svg' alt='youtube')
                    li.social__item
                        a.social__link(href='https://www.instagram.com/selectel.ru/', target='_blank')
                            img(src='src/img/icon-insta.svg' alt='insta')